[Interface]
PrivateKey = {{ wireguard_private_key }}
Address = {{ wireguard_ip }}
DNS = 10.10.10.1
MTU = 1360

[Peer]
PublicKey = {{ wireguard_server_public_key }}
AllowedIPs = 0.0.0.0/0
Endpoint = {{ wireguard_server_host }}:{{ wireguard_server_port }}
PersistentKeepalive = 25
